* {
  bg-col:  #1F1F28;
  bg-col-light: #1F1F28;
  border-col: #1F1F28;
  selected-col: #1F1F28;
  blue: #7E9CD8;
  fg-col: #DCD7BA;
  fg-col2: #DCA561;
  grey: #DCD7BA;
  width: 600;
}

/*
 * vim: ft=css
 */
