@import url("css/icons.css");

/* variables */
:root {
}

/* hide webpage loading notifications in the bottom left corner */
#statuspanel[type="status"] {
  opacity: 0 !important;
}

/* hide all scrollbars */
* {
  scrollbar-width: none !important;
}

/* remove the border around the ui and round the top-left corner */
#tabbrowser-tabbox {
  outline: none !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}

/* Roundness of webcontent */
:root:not([sizemode="fullscreen"]) .browserStack > browser {
  clip-path: xywh(0 0 100% 100% round 10px);
}

/* browser background */
.browserContainer,
.browserStack,
#browser,
#nav-bar {
  background-color: #1f1f28 !important;
}
